<!-- <div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let tip of tips">
      <div class="card">
        <div class="image-container">
          <img [src]="tip.img" [alt]="tip.alt">
          <div class="text-overlay">
            <h3>{{ tip.title }}</h3>
            <p>{{ tip.text }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div> -->

<div class="swiper mySwiper">
  <div class="swiper-wrapper">
    <div class="swiper-slide" *ngFor="let tip of tips">
      <div class="flip-card" [class.flipped]="flippedCard === tip">
      <div class="flip-inner" (click)="flipCard(tip)">


      <div class="flip-front">
      <div class="card">
        <div class="image-container">
          <img [src]="tip.img" [alt]="tip.alt">
          <div class="text-overlay">
            <h3>{{ tip.title }}</h3>
            <p>{{ tip.text }}</p>
          </div>
        </div>
      </div>
    </div>

        <div class="flip-back">
          <p style="font-weight: bold;">CHIFIT TIPS</p>
        </div>
      </div>
    </div>
  </div>
</div>

  <div class="swiper-pagination"></div>
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>
