/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Quicksand', sans-serif;
}


.foo {
  margin-top: auto;
  background-color: #111827;
  color: white;
  /* background-image: url("/assets/background-cf.png"); */
  /* background-repeat: no-repeat; */
  font-weight: bold;
  /* background-size: cover; */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
