<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-3" style="margin-top: 2.5em;">
    <!-- <img src="assets/CHIFIT-LOGIN.png" alt="CHIFIT" class="logo" width="15em" /> -->
    <h5 class="sectionBadge">Halo, {{ name }}</h5>
    <button class="btn btn-outline-danger" (click)="LogOut()">Log Out</button>
  </div>

  <app-tips-carousel></app-tips-carousel>

  <br>
  <!-- Form Absensi -->
  <div class="card mb-4">
    <div class="card-header" style="background-color: rgba(74, 74, 207, 0.796); color: white;">
      Form Absensi
    </div>
    <div class="card-body">
      <form>
        <div class="mb-3">
          <label for="trainingType" class="form-label">Jenis Latihan</label>
          <select class="form-select" [(ngModel)]="selectedTrainingType" id="trainingType" name="trainingType" required (change)="onTrainingTypeChange()">
            <option *ngFor="let type of trainingTypes" [value]="type.training_id">{{ type.training_name }}</option>
          </select>

          <div *ngIf="selectedTrainingExercise.length > 0" class="mt-3">
            <div class="row">
              <div class="col-md-6" *ngFor="let ex of selectedTrainingExercise; let i = index">
                <div class="card mb-2 shadow-sm">
                  <div class="card-body py-2">
                    <div class="d-flex align-items-center justify-content-between">
                      <small class="text-muted">{{ ex.name }}</small>
                      <input type="checkbox"
                            [(ngModel)]="ex.checked"
                            name="exerciseCheckbox_{{ i }}">
                    </div>
                    <div *ngIf="ex.checked" class="mt-2">
                      <input type="number"
                            [(ngModel)]="ex.duration_minutes"
                            name="duration_{{ i }}"
                            class="form-control"
                            placeholder="Durasi (menit)"
                            min="1">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
      </div>

        <div class="mb-3">
          <label for="notes" class="form-label">Catatan</label>
          <textarea class="form-control" [(ngModel)]="notes" id="notes" name="notes" rows="3" placeholder="Tambahkan catatan jika ada..."></textarea>
        </div>

        <button type="button" class="btn btn-primary" (click)="submitAttendance()">
          {{ attendanceId ? 'Update Absensi' : 'Kirim Absensi' }}
        </button>

        <div *ngIf="message" class="alert alert-success mt-3">{{ message }}</div>
        <div *ngIf="error" class="alert alert-danger mt-3">{{ error }}</div>
      </form>
    </div>
  </div>

  <div>
  <h6 class="sectionBadge">Grafik Kalori Terbakar</h6> <br>

  <!-- Line Chart: Kalori per tanggal -->
  <div style="max-width: 600px; margin-bottom: 2em;">
    <canvas #lineChart></canvas>
  </div>

  <!-- Donut Chart: Kalori per Training Type -->
  <div style="max-width: 400px;">
    <canvas #donutChart></canvas>
  </div>
</div>

<hr>

<div>
  <h6 class="sectionBadge">Riwayat Absensi</h6>
  <div *ngIf="attendances.length === 0" class="text-muted">Belum ada absensi</div>

  <div *ngFor="let a of attendances" class="card mt-3">
    <div class="card-body">
      <h6 class="card-title sectionBadgeAbsensi">{{ a.training_type }}</h6><br>
      <p class="mb-1"><strong>Status: </strong>
        <span class="badge" [ngClass]="{
          'bg-warning': a.status === 'pending',
          'bg-success': a.status === 'approved',
          'bg-danger': a.status === 'rejected'
        }">{{ a.status }}</span>
      </p>
      <p class="mb-1"><strong>Tanggal:</strong> {{ a.date | date:'medium' }}</p>
      <p class="mb-1"><strong>Catatan:</strong> {{ a.notes }}</p>

      <!-- Daftar latihan & durasi -->
      <ul>
        <li *ngFor="let ex of a.exercises">
          {{ ex.name }} - {{ ex.duration_minutes }} menit
        </li>
      </ul>
      <p style="font-weight: bold;">Kalori terbakar :</p>
      <p>🔥 {{ a.total_calories_burned }} kcal</p>

      <div class="card" *ngIf="a.admin_response">
        <div class="card-body">
          <p class="mb-1"><strong>Komentar Admin:</strong> <br>
            {{ a.admin_response }}
          </p>
        </div>
      </div><br>

      <button type="button" class="btn btn-outline-warning" style="padding: 0.5em 3em;"
        (click)="editAttendance(a)">
        Edit
      </button>
    </div>
  </div>
</div>



</div>
